@using System.Security.Claims
@model DefaultViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">

    @if (Model.IsAuthenticated)
    {
        @Model.Email
    }
    else
    {
        <partial name="_AuthenticationPartial" for="AuthenticationModel" />

        <table class="model-state">
            @foreach (var item in Model.ErrorList)
            {
                <tr>
                    <td><b>@item</b></td>
                </tr>
            }
        </table>

        <style>
            table.model-state {
                border-color: #600;
                border-width: 0 0 1px 1px;
                border-style: solid;
                border-collapse: collapse;
                font-size: .8em;
                font-family: arial;
                width: 50%;
                margin: auto;
            }

                table.model-state td {
                    border-color: #600;
                    border-width: 1px 1px 0 0;
                    border-style: solid;
                    margin: 0;
                    padding: .25em .75em;
                    background-color: #FFC;
                }
        </style>
    }
</div>
