@using System.Security.Claims
@model DefaultViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="text-center">

    @if (Model.IsAuthenticated)
    {
        @Model.Email
    }
    else
    {
        <partial name="_AuthenticationPartial" for="AuthenticationModel" />
    }
</div>
