@using System.Security.Claims
@model List<UserDocument>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
   <a asp-controller="Document" asp-action="Index">Create Document</a>

    @if (Model != null)
    {
           <div>
       <p>documents</p>

       @foreach (var doc in Model)
       {
           <div class="border-2">
               <p>@doc.DocumentTitle</p>
                    @Html.ActionLink("Edit","Update","Document", new { number = doc.DocumentNumber }, new {});
                    @Html.ActionLink("Delete", "DeleteDocument", "Document", new  { number = doc.DocumentNumber }, new{})
           </div>
       }
       </div>
    }


    @if (Context.User.Identity.IsAuthenticated)
    {
        var user = (ClaimsIdentity)Context.User.Identity;

        var userEmail = user.Claims.Where(i => i.Type.Contains("emailaddress"));
        var userId = user.Claims.Where(i => i.Type.Contains("nameidentifier"));
    }

</div>
